<%= render 'layouts/header'%>
  <% if flash[:alert] %>
    <p class="alert alert-warning"><%= flash[:alert] %></p>
  <% end %>
  <div class="container">
    <div class ="row">
     
	  <h2 class="title">ユーザー検索&nbsp;一覧結果</h2>
	  <div class="col-xs-5 col-xs-offset-3">
	    <hr>
	  </div> 
    	<div class="col-xs-5 col-xs-offset-3">
      	<!--users一覧 -->
      				<% @users.each do |user| %>
      				<tr>
          			<table class="table">
          			  <thead class="thead bg-warning">
            			    <tr>
                        <th></th>
                        <th>名前</th>
                        <th>年齢</th>
                        <th>性別</th>
                      </tr>
        			    </thead>
                  <tbody>
                    <tr>
                      <td>
                        <%=link_to user_path(current_user) do%>
                        <%= attachment_image_tag user,:image ,format:'jpeg',fallback: "no_image.jpg", size: '90x90'%>
                        <% end %>
                      </td>
                      <td><%= user.name %></td>
                      <td><%= user.age %></td>
                      <td><%= user.sex %></td>
                    </tr>
                  </tbody>
              </table>
      				<% end %>
      			</div>
    	  </div>
    </div>
  </div>
  <%= render 'layouts/footer'%>