<%= render 'layouts/header'%>
<div class="container">
  <div class= "row">
    <!--検索結果がない場合のメッセージ-->
  <% if flash[:alert] %>
    <p class="alert alert-danger"><%= flash[:alert] %></p>
  <% end %>
     <!--投稿登録内容-->
    <div class="col-xs-12 col-xs-offset-2">
      <div class="index-posts-area">
          <div class="icon">
            <!--投稿登録アイコン-->
            <%= link_to new_post_food_path do %>
            	<i class="fas fa-plus-circle fa-3x col-xs-1 mb-4 color"></i>
            <% end %>
          </div>
          
              <% @post_foods.each do |post_food| %>
              <div id= "post_food<%=post_food.id %>">
                <div class= posts-area>
                  
                  <div class=img_field>
                    <%= link_to post_food_path(post_food) do %>
                        <%= attachment_image_tag post_food, :image, fallback: "no_image.jpg",size: '150x150'%>
                  	<% end %>  
                  </div>
                  <p> 投稿日:<%= post_food.created_at.strftime('%Y/%m/%d') %></p>
                  <p> 料理名:<%= post_food.name %></p>
                  <p>
                  <span id="post_food_<%= post_food.id %>">
                    <%= render 'post_food_favorites/favorites',post_food: post_food%>
                  </span>  
                  <span>
                    <i class="fa fa-comments" aria-hidden="true" style="color: black;">
                      <%= post_food.post_food_comments.count %>
                    </i>
                  </span>
                  </p>
                  <p>ジャンル:<%= post_food.genre %><p>
                  <p> 製作時間:<%= post_food.time %></p>
                  <p>評価:<%= post_food.rate %></p>
                </div>
              </div>
            <% end %>
            <!--topbackアイコン-->
            <div class= "icon">
              <%= link_to new_post_food_path do %>
                <i class="fas fa-arrow-circle-up fa-3x col-xs-offset-8 mb-4 color"></i>
              <% end %>
            </div>
      </div>
    </div>
  </div>
</div>



<%= render 'layouts/footer'%>