<%= render 'layouts/header'%>
<div class="container">
  <div class= "row">
    <div class="rate-box">   
      <h3 class ="title">評価点数ユーザーランキング！</h3>
        　<% rateCount =0 %>
          <% s = 1 %>
          <table class="table table-hover">
            <thead class="thead bg-warning">
            <th>順位</th>
            <th>名前</th>
            <th>料理名</th>
            <th>評価点数</th>
          <% @all_rank_rates.each.with_index(1) do |post_food, i| %>
            <%if i == 1 %>
              <% rateCount = post_food.rate_avg %>
            <% end %>
            <% if rateCount != post_food.rate_avg %>
            <% s = i%>
            <tbody>
              <td>第<%= s %>位</td>
              <td><%= post_food.user.name%>さん</td>
              <td><%= post_food.name%></td>
              <td><%= post_food.rate_avg %>点</td>
            </tbody> 
            <% else %>
            <% rateCount = post_food.rate_avg %>
            <tbody>
              <td>第<%= s %>位</td>
              <td><%= post_food.user.name%>さん</td>
              <td><%= post_food.name%></td>
              <td><%= post_food.rate_avg %>点</td>
            </tbody>  
            <% end %>
          <%end%> 
       </table>
  　</div>
  　<div class="favorite-box">
      <h3 class="title">いいね数ユーザーランキング！</h3>
      <% lateFavorite =0 %>
      <% k = 1 %>
        <table class="table table-hover">
            <thead class="thead bg-warning">
              <th>順位</th>
              <th></th>
              <th>名前</th>
              <th>料理名</th>
              <th>いいね数</th>
            </thed>
          <% @all_ranks.each.with_index(1) do |post_food, i| %>
                <%if i == 1 %>
                  <% lateFavorite = post_food.post_food_favorites.count %>
                <% end %>
            <% if lateFavorite != post_food.post_food_favorites.count %>
                  <% k = i%>
                  <tbody>
                     <td>第<%= k %>位</td>
                     <td>
                        <%= link_to post_food_path(post_food) do %>
                            <%= attachment_image_tag post_food, :image, fallback: "no_image.jpg",size: '60x60',class: "img-circle"%>
                      	<% end %>
                      </td>	
                    　<td><%= post_food.user.name%>さん</td>
                      <td><%= post_food.name%></td>
                      <td><%= post_food.post_food_favorites.count%>いいね</td>
                      <% lateFavorite = post_food.post_food_favorites.count %>
                  </tbody>  
            </div>
            <% else %>
                    <% lateFavorite = post_food.post_food_favorites.count %>
                  <tbody>
                     <td>第<%= k %>位</td>
                     <td>
                        <%= link_to post_food_path(post_food) do %>
                            <%= attachment_image_tag post_food, :image, fallback: "no_image.jpg",size: '60x60',class: "img-circle"%>
                      	<% end %>
                      </td>	
                    　<td><%= post_food.user.name%>さん</td>
                      <td><%= post_food.name%></td>
                      <td><%= post_food.post_food_favorites.count%>いいね</td>
                  </tbody>  
	          <% end %>
          <% end %>
         </table>  
      </div>
  	</div>
  </div>
</div>  



<%= render 'layouts/footer'%>