<%= render 'layouts/header'%>
<div class="container">
  <div class="row">
      <!--ここから　投稿内容-->
        <div class="col-xs-9 col-xs-offset-5">
          
              <!--ここから　投稿画像-->
              <div class="img_field">
                <%= attachment_image_tag @post_food, :image, fallback: "no_image.jpg", class: "img-responsive img-thumbnail product-image",size: '250x250'%>
              </div> 
           
            <div class="row form-group">
              <label class="col-sm-3 control-label"> 投稿日:&nbsp;&nbsp;<%= @post_food.created_at.strftime('%Y/%m/%d') %></label>
            </div>
            <div class="row form-group">
              <label class="col-sm-3 control-label"> 料理名:&nbsp;&nbsp;<%= @post_food.name%></label>
            </div>
            <div class="row form-group">
              <label class="col-sm-3 control-label"> 料理説明:&nbsp;&nbsp;<%= @post_food.explanation%></label>
            </div>
            <div class="row form-group">
              <!--いいね、コメント-->
            </div>
            <div class="row form-group">
              <label class="col-sm-5 control-label">参考URL:&nbsp;&nbsp;<%= @post_food.reference_site_url.truncate(10)%></label>
            </div>
            <div class="row form-group">
              <label class="col-sm-3 control-label"> 製作時間:&nbsp;&nbsp;<%= @post_food.time %></label>
            </div>
            <div class="row form-group">
              <label class="col-sm-3 control-label"> 費用:&nbsp;&nbsp;<%= @post_food.cost %></label>
            </div>
            <%= link_to "投稿一覧へ",post_foods_path, class: "btn btn-warning"%>
            <%= link_to "編集する",edit_post_food_path(@post_food), class: "btn btn-warning col-xs-offset-1"%>
          </div>  
          
          
  </div>
</div>  
<%= render 'layouts/footer'%>